name: ci

on:
  push:
    branches: master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: sqreen/go-dvwa:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
